<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>in.vojt.macos-website-blocker</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/macos-website-blocker.sh</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>